<header></header>
<div class="cd-user-modal">
  <!-- все формы на фоне затемнения-->
  <div class="cd-user-modal-container">
    <!-- основной контейнер -->
    <div class="btn-group btn-group-lg" role="group" aria-label="switcher" style="width:100%; height: 100px">
      <button type="button" class="btn btn-secondary" routerLink="/check/sign-in">Login</button>
      <button type="button" class="btn btn-secondary" routerLink="/check/registration" [queryParams]="{ token: userService.tokenDefault}">Registration</button>
    </div>
    <div id="cd-signup">
      <!-- форма регистрации -->
      <router-outlet></router-outlet>
    </div> <!-- cd-signup -->
  </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->

