<div class="container-fluid" style="margin-top: 15px;">
  <div class="card-group">
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="max-width: 20rem; height: 200px; margin-right: 13%; margin-left: 4%">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{users.length}}</h5>
        <hr>
        <p class="card-text">Quantity of employees</p>
        <p></p>
      </div>
    </div>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="max-width: 30rem; height: 200px; margin-right: 13%;">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{trainerInfo.qualificationName}}</h5>
        <hr>
        <p class="card-text">	Training level</p>
        <p></p>
      </div>
    </div>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="max-width: 20rem; height: 200px; margin-right: 4%;">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{groupsList.length}}</h5>
        <hr>
        <p class="card-text">Quantity of groups</p>
        <p></p>
      </div>
    </div>
  </div>
  <div *ngIf="isShowlevelChart" class="card mb-3 border shadow p-3 mb-5 bg-white rounded" style="margin: 0 4%;">
    <div class="card-header bg-transparent border-success">Employees training level</div>
    <div style="display: inline-block;">
      <ngx-charts-bar-vertical
        [view]="viewBar"
        [scheme]="colorScheme"
        [results]="studentlevelChart"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendPosition]="positionLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="card mb-3 border shadow p-3 mb-5 bg-white rounded" style="margin: 0 4%;">
    <div class="card-header bg-transparent border-success">
      <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
        Attendance in a group
        <div class="container select">
          <ngx-select
            placeholder="Select course"
            [allowClear]="true"
            [defaultValue]="doNgxDefault1()"
            [items]="coursesSelect"
            (typed)="inputTyped('ngx-select', $event)"
            (focus)="doFocus()"
            (blur)="doBlur()"
            (open)="doOpen()"
            (close)="doClose()"
            (select)="getGroupsByCourse($event)"
            (remove)="doRemove($event)"
            (selectionChanges)="doSelectOptions($event)">
          </ngx-select>
        </div>
        <div class="container select">
          <ngx-select
            placeholder="Select group"
            [allowClear]="true"
            [defaultValue]="doNgxDefault1()"
            [items]="groupSelect"
            (typed)="inputTyped('ngx-select', $event)"
            (focus)="doFocus()"
            (blur)="doBlur()"
            (open)="doOpen()"
            (close)="doClose()"
            (select)="getGroupLessons($event);getGroupAttendance($event);"
            (remove)="doRemove($event)"
            (selectionChanges)="doSelectOptions($event)">
          </ngx-select>
        </div>
      </form>
    </div>
    <div style="display: inline-block;">
      <ngx-charts-line-chart
        (window:resize)="onResize($event)"
        [view]="viewLine"
        [scheme]="colorScheme"
        [results]="attendance"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
