<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/img/netcracker-logo.png" width="75" alt="Logo">
      </a>
      <div class="col-lg-8" style="padding: 0">
        <blockquote class="blockquote text-left">
          <h2 style="margin: 15px 0 0 0; color: #2b6f9b"><em>Bricks Training Center</em></h2>
        </blockquote>
      </div>
      <div class="container" style="margin-right: 0;">
        <button class="navbar-toggler float-right" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarCollapsed" [collapse]="isCollapsed">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 10%;">
              <button type="button" class="btn btn-success btn-sm" style="width: 80px" (click)="singInModal.show()">Sign in</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class="bd-example">
    <carousel>
      <slide *ngFor="let slide of sliderNews" style="height: 600px">
        <img [src]="slide.picture"  alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{slide.header}}</h3>
          <p>{{slide.description}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>


<div class="modal fade" bsModal #singInModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="singInModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="singInModalLabel">Sign in</h5>
        <button class="close" type="button" (click)="singInModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value, Password.value)">
            <input type="hidden" name="courseId">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" #UserName ngModel name="UserName" required>
              <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" #Password ngModel name="Password" required>
              <div class="validation-error" *ngIf="Password.invalid && Password.touched">This field is required
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-outline-warning" (click)="singInModal.hide(); resetModal.show()">Forgot password?</button>
            </div>
            <div class="modal-footer">
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #resetModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="resetModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetModalLabel">Sing in</h5>
        <button class="close" type="button" (click)="resetModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #resetForm="ngForm"  (ngSubmit)="passwordRecovery(email)">
            <input type="hidden" name="courseId">
            <div class="form-group">
              <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="text" [(ngModel)]="email.email"  name="email" class="form-control" placeholder="E-mail" aria-label="E-mail" required  pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" aria-describedby="addon-wrapping">
              </div>
              <div class="validation-error" *ngIf="resetForm.invalid && resetForm.touched">This field is required</div>
            </div>
            <div class="modal-footer">
              <button (click)="resetModal.hide(); singInModal.show()" type="submit" class="btn btn-outline-success" style="margin-right: 5%">Sing in</button>
              <button [disabled]="!resetForm.valid" type="submit" class="btn btn-outline-success" style="margin-right: 5%">Reset password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
