<user-header></user-header>
<div class="container-fluid">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <div class="btn-group">
            <h4>Chats</h4>
            <a class="nav-link" role="button" (click)="addModal.show()">
              <i class="cursor"><img class="img_width_1" src="assets/img/icon_plus.png" alt="Add chat"></i>
            </a>
            </div>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span></div>
          </div>
          <!--<div class="float-left" style="width: 50%;">
            <ngx-select
              placeholder="Select for users"
              [allowClear]="true"
              [defaultValue]="doNgxDefault()"
              [items]="usersInGroup"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelect($event)"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>-->
        </div>
        <div class="inbox_chat">
          <div class="btn btn-link chat_list active_chat" *ngFor="let chat of chats"
               (click)="click = connectToChat(chat.chatId)">
            <div class="chat_people">
              <div class="chat_ib">
                <h5>{{chat.chatName}}<span class="chat_date"></span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let mess of messages">
            <div class="outgoing_msg" *ngIf="mess.userId === currentUser.userId; else unset">
              <div>
                <div class="sent_msg">
                  <p>{{mess.content}}</p>
                  <span class="time_date"> {{mess.messageSender}} | {{mess.createDate}}</span>
                </div>
              </div>
            </div>
            <ng-template #unset>
              <div class="incoming_msg">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{mess.content}}</p>
                    <span class="time_date"> {{mess.messageSender}} | {{mess.createDate}}</span>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" [(ngModel)]='messageText' class="write_msg" id="write_msg" placeholder="Type a message"/>
            <button class="msg_send_btn" (click)="sendMessage()" type="button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #addModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="addModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add chat</h5>
        <button class="close" type="button" (click)="addModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addForm="ngForm" autocomplete="off"
                (ngSubmit)="startPrivateChat(); addModal.hide()">
            <div class="form-group">
              <ngx-select
                placeholder="Select user"
                [allowClear]="true"
                [defaultValue]="doNgxDefault()"
                [items]="usersSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="doSelect($event)"
                (remove)="doRemove($event)"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary">Start chat</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
