<script src="group-page.component.ts"></script>
<user-header></user-header>
<div class="container-fluid"  style="margin-top: 15px;">
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-5">
        <div class="card-body">
          <p><b>Group name: </b> {{group.nameGroup}}</p>
          <p><b>Course name: </b>{{course.courseName}}</p>
          <p><b>Course type: </b>{{course.courseType}}</p>
          <p><b>Course difficulty level: </b>{{course.difficultyLevel}}</p>
        </div >
      </div>
      <div class="col-md-3">
        <img [src]="trainerInfo.avatar" *ngIf="trainerInfo.avatar!=null;else unset"   width="200" alt="Logo">
        <ng-template #unset>
          <img src="assets/img/netcracker-logo.png" width="200" alt="Logo">
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <p><b>Trainers name: </b>{{trainerInfo.firstName + ' ' + trainerInfo.lastName}}</p>
          <p><b>Trainers e-mail: </b>{{trainerInfo.email}}</p>
          <p><b>Trainers qualification level: </b>{{trainerInfo.qualificationName}}</p>
        </div>
      </div>
    </div>
  </div>
  <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;"
            (click)="goToCourse(group.courseId)">Go to course</button>
    <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;"
            (click)="employeeForm.resetForm();employeeModal.show()" *ngIf="roleService.roleMatch(['ADMIN'])">Add employee</button>
  </form>

  <div class="card mb-12 height_group border-0">
    <div class="row no-gutters ">
      <div class="col-md-2">
        <div class="list-group">
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); usersPanel = !usersPanel"
             [attr.aria-expanded]="!usersPanel" aria-controls="collapseBasic">Users</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); lessonsPanel = !lessonsPanel"
             [attr.aria-expanded]="!lessonsPanel" aria-controls="collapseBasic">Lessons</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); connectToGroupChat(); chatPanel = !chatPanel"
             [attr.aria-expanded]="!chatPanel" aria-controls="collapseBasic">Chat
            <span class="badge badge-primary badge-pill"></span></a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); schedulePanel = !schedulePanel"
             [attr.aria-expanded]="!schedulePanel" aria-controls="collapseBasic">Edit schedule</a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="container-fluid">
          <div [collapse]="usersPanel">
            <table class="table table-hover scrolling">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Username</th>
                <th>E-mail</th>
              </tr>
              </thead>
              <tbody>
              <tr  class="cursor" *ngFor="let profile of profiles" (click)="goToProfile(profile.userId)">
                <th scope="row">{{profile.lastName}} {{profile.firstName}}</th>
                <td>
                  <span *ngIf="roleService.getRoleName(profile.roleId)==='TRAINER'" class="badge badge-danger">{{roleService.getRoleName(profile.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(profile.roleId)==='MANAGER'" class="badge badge-warning">{{roleService.getRoleName(profile.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(profile.roleId)==='EMPLOYEE'" class="badge badge-success">{{roleService.getRoleName(profile.roleId)}}</span>
                </td>
                <td>{{profile.username}}</td>
                <td>{{profile.email}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div [collapse]="lessonsPanel">
            <table class="table table-hover scrolling">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let lesson of lessons">
                <td>{{lesson.lessonName}}</td>
                <td>{{lesson.lessonDate}}</td>
                <td  >{{lesson.lessonStatus}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div [collapse]="chatPanel">
            <div class="mesg border rounded">
              <div class="msg_history">
                <div *ngFor="let mess of messages">
                  <div class="outgoing_msg" *ngIf="mess.userId === currentUser.userId;else unset">
                    <div>
                      <div class="sent_msg">
                        <p>{{mess.content}}</p>
                        <span class="time_date"> {{mess.messageSender}} | {{mess.createDate}} | {{mess.messageId}}</span>
                      </div>
                    </div>
                  </div>
                  <ng-template #unset>
                    <div class="incoming_msg">
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>{{mess.content}}</p>
                          <span class="time_date"> {{mess.messageSender}} | {{mess.createDate}} | {{mess.messageId}}</span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <textarea type="text" [(ngModel)]='messageText' class="form-control write_msg" rows="2" id="write_msg" placeholder="Type a message"></textarea>
                  <button class="msg_send_btn" (click)="sendMessage()" type="button">Send</button>
                </div>
              </div>
            </div>
          </div>
          <div [collapse]="schedulePanel">
            <table class="table table-hover scrolling">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">Function</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let lesson of Courselessons">
                <td>{{lesson.lessonName}}</td>
                <td  >{{getLessonDate(lesson.lessonName)}}</td>
                <td *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">
                  <div class="btn-group">
                  <a class="nav-link" role="button" (click)=" setDate.lessonId = lesson.id;lessensModal.show()">
                    <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update"></i></a>
                  <a class="nav-link" role="button"  (click)="lessonsDeletedId = lesson.id; deleteConfirmModal.show()">
                    <i class="cursor"><img class="img_width_1" src="assets/img/icon_delete.png" alt="Delete" title="Delete lessons"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #lessensModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="lessensModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lessensModalLabel">Lesson</h5>
        <button class="close" type="button" (click)="lessensModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #lessonsForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(lessonsForm)">
            <input type="hidden" name="groupId" [(ngModel)]= "setDate.groupId">
            <input type="hidden" name="lessonId" [(ngModel)]= "setDate.lessonId">
            <div class="form-group">
              <label>Date of holding</label>
              <div class="input-group">
                <input type="text" bsDatepicker #dpCloseDate="bsDatepicker" placement="right" class="form-control" name="lessonDate"
                       placeholder="yyyy-mm-dd" required [(ngModel)]="lessonsDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpCloseDate.toggle()"
                          type="button"></button>
                </div>
                <input type="text" class="form-control" placeholder= "hh" name="hours" [(ngModel)]= "hours" pattern="[0-9]{2}" maxlength="2">
                <input type="text" class="form-control" placeholder= "mm" name="minutes" [(ngModel)]= "minutes" pattern="[0-9]{2}" maxlength="2">
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!lessonsForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #employeeModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="employeeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">Add employee</h5>
        <button class="close" type="button" (click)="employeeModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #employeeForm="ngForm" autocomplete="off" (ngSubmit)="addUserToGroup(userId)">
            <input type="hidden" name="Id">
            <div class="form-group">
              <label>Employee</label>
              <div class="container" style="margin: 0">
                <ngx-select
                  placeholder="Select employee"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault3()"
                  [items]="unallocatedUsersSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="selectUser($event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteConfirmModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog"
     aria-labelledby="deleteConfirmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Delete lesson</h5>
        <button class="close" type="button" (click)="deleteConfirmModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteLesson(lessonsDeletedId)">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDeleteLesson()">No</button>
      </div>
    </div>
  </div>
</div>
