<div class="container-fluid" style="margin-top: 15px;">
  <div class="card-group">
    <div class="card text-center shadow p-3 mb-5 bg-white rounded"
         style="max-width: 20rem; height: 200px; margin-right: 15%; margin-left: 4%">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{emploees.length}}</h5>
        <hr>
        <p class="card-text">Quantity of employees</p>
        <p></p>
      </div>
    </div>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded"
         style="max-width: 20rem; height: 200px; margin-right: 15%;">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{trainers.length}}</h5>
        <hr>
        <p class="card-text">Quantity of trainers</p>
        <p></p>
      </div>
    </div>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded"
         style="max-width: 20rem; height: 200px; margin-right: 4%;">
      <div class="card-body">
        <p></p>
        <h5 class="card-title">{{groups.length}}</h5>
        <hr>
        <p class="card-text">Quantity of groups</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card mb-3 border shadow p-3 mb-5 bg-white rounded height_panel"
         style="margin-right: 5%; width: 40%; margin-left: 4%;">
      <div class="card-header bg-transparent border-success">
        <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
          Training and quantity of employee
          <div class="container select">
            <ngx-select
              placeholder="Select type of course"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="coursesTypesSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelectTypeFoUsers($event)"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
        </form>
      </div>
      <div class="row no-gutters" *ngIf="isShowUsersChart">
        <div class="col-md-3">
          <div class="card-body">
            <div style="display: inline-block">
              <ngx-charts-pie-chart
                [view]="viewPie"
                [scheme]="colorScheme"
                [results]="courseTypeStatsUsersChart"
                [legend]="showLegend"
                [legendPosition]="positionLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border shadow p-3 mb-5 bg-white rounded height_panel" style="margin-right: 4%; width: 40%">
      <div class="card-header bg-transparent border-success">
        <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
          Training level and quantity of groups
          <div class="container select">
            <ngx-select
              placeholder="Select type of course"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="coursesTypesSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelectTypeFoGroups($event)"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
        </form>
      </div>
      <div class="row no-gutters" *ngIf="isShowGroupsChart">
        <div class="col-md-3">
          <div class="card-body" style="width: 300px">
            <div style="display: inline-block">
              <ngx-charts-pie-chart
                [view]="viewPie"
                [scheme]="colorScheme"
                [results]="courseTypeStatsGroupsChart"
                [legend]="showLegend"
                [legendPosition]="positionLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isShowTrainersChart" class="card mb-3 border shadow p-3 mb-5 bg-white rounded height_panel"
       style="margin: 0 4%">
    <div class="card-header bg-transparent border-success">Training level and trainers</div>
    <div style="display: inline-block;">
      <ngx-charts-bar-vertical
        [view]="viewBar"
        [scheme]="colorScheme"
        [results]="trainersLevelChart"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendPosition]="positionLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="card mb-3 border shadow p-3 mb-5 bg-white rounded height_panel" style="margin: 0 4%; ">
    <div class="card-header bg-transparent border-success">
      <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
        Сourse attendance
        <div class="container select">
          <ngx-select
            placeholder="Select course"
            [allowClear]="true"
            [defaultValue]="doNgxDefault1()"
            [items]="coursesSelect"
            (typed)="inputTyped('ngx-select', $event)"
            (focus)="doFocus()"
            (blur)="doBlur()"
            (open)="doOpen()"
            (close)="doClose()"
            (select)="getGroupsByCourse($event)"
            (remove)="doRemove($event)"
            (selectionChanges)="doSelectOptions($event)">
          </ngx-select>
        </div>
        <div class="container select" >
          <ngx-select
            placeholder="Select group"
            [allowClear]="true"
            [defaultValue]="doNgxDefault1()"
            [items]="groupSelect"
            (typed)="inputTyped('ngx-select', $event)"
            (focus)="doFocus()"
            (blur)="doBlur()"
            (open)="doOpen()"
            (close)="doClose()"
            (select)="getGroupLessons($event);getGroupAttendance($event);"
            (remove)="doRemove($event)"
            (selectionChanges)="doSelectOptions($event)">
          </ngx-select>
        </div>
      </form>
    </div>
    <div style="display: inline-block;">
      <ngx-charts-line-chart
        (window:resize)="onResize($event)"
        [view]="viewLine"
        [scheme]="colorScheme"
        [results]="attendance"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)"
        style="width: 10%">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
