<div id="cd-login">
  <blockquote class="blockquote text-center" style="margin-top: 5%;">
    <h4>Forgot your password?</h4>
    <p class="mb-0" style="margin: 5%;">Enter your email address and we will send you instructions on how to reset your password.</p>
  </blockquote>
  <form>
    <div class="form-group">
      <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="addon-wrapping" style="height: 50px;">
      </div>
    </div>
    <p class="fieldset" style="margin-left:5%; margin-top: 5%;">
      <button type="submit" class="btn btn-primary" style="margin-right: 5%">Reset password</button>
      <button type="submit" class="btn btn-danger"  routerLink="">Close</button>
    </p>
  </form>
  <p class="mb-0" style="color: white;">//</p>
</div>
