<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container" style="margin: 0 auto">
      <a class="navbar-brand" style="margin-left: 30%" routerLink="">
        <img src="assets/img/netcracker-logo.png" width="75" alt="Logo">
      </a>
      <div class="col-lg-12 cursor" style="padding: 0" routerLink="">
        <blockquote class="blockquote text-left">
          <h2 style="margin: 15px 0 0 0; color: #2b6f9b"><em>Bricks Training Center</em></h2>
        </blockquote>
      </div>
    </div>
  </nav>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <div class="card-body" style="margin: 0 25%">
      <form #userRegistrationForm="ngForm"
            (ngSubmit)="OnSubmit(userRegistrationForm)">
        <input type="hidden" class="form-control" name="roleId" #roleId="ngModel"
               [(ngModel)]="user.roleId">
        <div class="form-group">
          <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="addon-wrapping" style="height: 50px;" name="username" #username="ngModel"
                   [(ngModel)]="user.username" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
            <input type="text" class="form-control" placeholder="First Name" aria-label="FirstName"
                   aria-describedby="addon-wrapping" style="height: 50px;" name="firstName" #firstName="ngModel"
                   [(ngModel)]="user.firstName" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
            <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName"
                   aria-describedby="addon-wrapping" style="height: 50px;" name="lastName" #lastName="ngModel"
                   [(ngModel)]="user.lastName" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
            <div class="input-group-prepend">
              <span class="input-group-text" userId="addon-wrapping">@</span>
            </div>
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
                   aria-describedby="addon-wrapping" style="height: 50px;" name="email" #email="ngModel"
                   [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" reguired>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3" style="width:85%; margin-left:5%; margin-top: 5%;">
            <input type="password" class="form-control" placeholder="Password" style="height: 50px;"
                   name="password"
                   #password="ngModel" [(ngModel)]="user.password" minlength="6" required>
          </div>
        </div>
        <p class="fieldset" style="margin-left:5%; margin-top: 5%;">
          <button type="submit" [disabled]="!userRegistrationForm.valid" class="btn btn-primary"
                  style="margin-right: 5%">Create</button>
        </p>
      </form>
    </div>
  </div>
</div>
