<user-header></user-header>
<div class="container-fluid"  style="margin-top: 15px;">
  <div class="col-lg-12"  >
    <blockquote class="blockquote text-center">
      <h1 class="display-4">{{news.header}}</h1>
    </blockquote>

    <div class="card mb-12 height_group border-0">
      <div class="row no-gutters ">
        <div class="col-md-4">
          <div class="card card-new">
            <div class="card-body">
              <div class="row" style="margin-left: 0%">
                <div >
                  <img class="img-fluid" [src]="news.picture" alt="" style="padding-right: 3%; margin-bottom: 20px;" align="left">
                </div>
              </div>
            </div>
            <div class="card-footer text-muted footer" style="height: 50px">
              <div class="btn-group">
                <a class="nav-link padding-a">
                  <i class="cursor"><img class="img_width" src="assets/img/icon_see.png" alt="See" title="Sees"></i>
                  <span class="badge badge-light">{{news.numberOfViews}}</span></a>
                <a class="nav-link padding-a"  role="button" (click)="news.likedByCurrentUser = !news.likedByCurrentUser">
                  <i class="cursor">
                    <img *ngIf="!news.likedByCurrentUser" class="img_width" src="assets/img/icon_like.png" alt="Like" title="Like's">
                    <img *ngIf="news.likedByCurrentUser" class="img_width" src="assets/img/icon_like_active.png" alt="Like" title="Like's"></i>
                  <span class="badge badge-light">{{news.numberOfLikes}}</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-18">
          <p class="text-justify">{{news.description}}</p>
          <p class="text-justify">{{news.content}}</p>
        </div>
      </div>
    </div>
  </div>


</div>
