<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <div class="col-lg-12">
    <blockquote class="blockquote text-left">
      <p><b>Course name:</b> {{course.courseName}}</p>
      <p><b>Course type:</b> {{course.courseType}}</p>
      <p><b>Difficulty level:</b> {{course.difficultyLevel}}</p>
      <p><b>Start date:</b> {{course.startDate}}</p>
      <p><b>End date:</b> {{course.endDate}}</p>
    </blockquote>
  </div>
  <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;" *ngIf="roleService.roleMatch(['ADMIN'])">
    <select class="custom-select" name="idGroup" #idGroup ngModel style="margin-right: 12px; width: 20%">
      <option value="" disabled selected>Please select group</option>
      <option *ngFor="let group of groups" [value]="group.id">{{group.nameGroup}}</option>
    </select>
    <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;"
            (click)="goToGroup(idGroup.value)">Go to
      group
    </button>
    <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;"
            (click)="trainerForm.resetForm();trainerModal.show()">Add trainer
    </button>
    <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;"
            (click)="employeeForm.resetForm();employeeModal.show()">Add employee
    </button>
  </form>

  <!---->

  <div class="card mb-12 height_group border-0">
    <div class="row no-gutters ">
      <div class="col-md-2">
        <div class="list-group">
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); distributedPanel = !distributedPanel"
             [attr.aria-expanded]="!distributedPanel" aria-controls="collapseBasic" *ngIf="roleService.roleMatch(['ADMIN'])">Distributed users</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); unallocatedPanel = !unallocatedPanel"
             [attr.aria-expanded]="!unallocatedPanel" aria-controls="collapseBasic" *ngIf="roleService.roleMatch(['ADMIN'])">Unallocated users</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); lessonsPanel = !lessonsPanel"
             [attr.aria-expanded]="!lessonsPanel" aria-controls="collapseBasic">Lessons</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); materialsPanel = !materialsPanel"
             [attr.aria-expanded]="!materialsPanel" aria-controls="collapseBasic">Materials</a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="container-fluid">
          <div [collapse]="distributedPanel">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Username</th>
                <th>E-mail</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let user of users" (click)="goToProfile(user.userId)">
                <th scope="row">{{user.email}} {{user.username}}</th>
                <td>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='TRAINER'" class="badge badge-danger">{{roleService.getRoleName(user.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='MANAGER'" class="badge badge-warning">{{roleService.getRoleName(user.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='EMPLOYEE'" class="badge badge-success">{{roleService.getRoleName(user.roleId)}}</span>
                </td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div [collapse]="unallocatedPanel">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Username</th>
                <th>E-mail</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let user of unallocatedUsers"
                  (click)="userTime ='Desired time '+user.email+' '+user.username+':'; getTime(+user.userId)">
                <th scope="row">{{user.email}} {{user.username}}</th>
                <td>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='TRAINER'" class="badge badge-danger">{{roleService.getRoleName(user.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='MANAGER'" class="badge badge-warning">{{roleService.getRoleName(user.roleId)}}</span>
                  <span *ngIf="roleService.getRoleName(user.roleId)==='EMPLOYEE'" class="badge badge-success">{{roleService.getRoleName(user.roleId)}}</span>
                </td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
              </tr>
              </tbody>
            </table>
            <p>{{userTime}}</p>
            <table class="table table-bordered">
              <thead class="thead-dark">
              <tr>
                <th class="width_th" scope="col"></th>
                <th class="width_th" scope="col">Monday</th>
                <th class="width_th" scope="col">Tuesday</th>
                <th class="width_th" scope="col">Wednesday</th>
                <th class="width_th" scope="col">Thursday</th>
                <th class="width_th" scope="col">Friday</th>
                <th class="width_th" scope="col">Saturday</th>
                <th class="width_th" scope="col">Sunday</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let daay of daysUser; let i = index ">
                <th scope="row">{{daay.times[i].name}}</th>
                <td *ngIf="daysUser[0].times[i].isSelect;else unset"
                    class="color" scope="col"></td>
                <ng-template #unset>
                  <th  scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[1].times[i].isSelect;else unset1"
                    class="color" scope="col"></td>
                <ng-template #unset1>
                  <th  scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[2].times[i].isSelect;else unset2"
                    class="color" scope="col"></td>
                <ng-template #unset2>
                  <th scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[3].times[i].isSelect;else unset3"
                    class="color" scope="col"></td>
                <ng-template #unset3>
                  <th scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[4].times[i].isSelect;else unset4"
                    class="color" scope="col"></td>
                <ng-template #unset4>
                  <th scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[5].times[i].isSelect;else unset5"
                    class="color" scope="col"></td>
                <ng-template #unset5>
                  <th scope="col"></th>
                </ng-template>
                <td *ngIf="daysUser[6].times[i].isSelect;else unset6"
                    class="color" scope="col"></td>
                <ng-template #unset6>
                  <th scope="col"></th>
                </ng-template>
              </tr>
              </tbody>
            </table>
            <hr>
            <p>The numbers in the cells are the quantity of people who have chosen the desired time to attend the courses.</p>
            <table class="table table-bordered">
              <thead class="thead-dark">
              <tr>
                <th class="width_th" scope="col"></th>
                <th class="width_th" scope="col">Monday</th>
                <th class="width_th" scope="col">Tuesday</th>
                <th class="width_th" scope="col">Wednesday</th>
                <th class="width_th" scope="col">Thursday</th>
                <th class="width_th" scope="col">Friday</th>
                <th class="width_th" scope="col">Saturday</th>
                <th class="width_th" scope="col">Sunday</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let day of days; let i = index ">
                <th scope="row">{{day.times[i].name}}</th>
                <td  scope="col">{{days[0].times[i].count}}</td>
                <td scope="col">{{days[1].times[i].count}}</td>
                <td scope="col">{{days[2].times[i].count}}</td>
                <td scope="col">{{days[3].times[i].count}}</td>
                <td  scope="col">{{days[4].times[i].count}}</td>
                <td scope="col">{{days[5].times[i].count}}</td>
                <td scope="col">{{days[6].times[i].count}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div [collapse]="materialsPanel">
            <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
              <ngx-select
                placeholder="Select lesson"
                [allowClear]="true"
                [defaultValue]="doNgxDefault2()"
                [items]="lesonsSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="selectLesson($event)"
                (remove)="doRemove($event)">
              </ngx-select>
              <button type="button" class="btn btn-success" style="margin:0 12px;"
                      (click)="materialsModal.show();" *ngIf="roleService.roleMatch(['ADMIN'])">Upload file
              </button>
              <ngx-select
                placeholder="Select file"
                [allowClear]="true"
                [defaultValue]="doNgxDefault2()"
                [items]="filesSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="selectFile($event)"
                (remove)="doRemove($event)">
              </ngx-select>
              <a type="button" class="btn btn-success" style="margin:0 12px;" *ngIf="fileUrl!=null" [href]="fileUrl" [download]="fileName">Download file</a>
            </form>
          </div>
          <div [collapse]="lessonsPanel">
            <table class="table table-hover scrolling">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">Function</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let lesson of lessons">
                <th scope="row">{{lesson.lessonName}}</th>
                <td *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">
                  <a class="nav-link" role="button" (click)="lessensModal.show()">
                    <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
            <button *ngIf="roleService.roleMatch(['ADMIN'])" type="button" class="btn btn-success" style="margin-right: 12px;"
                    (click)="lessensModal.show()">Add lesson</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" bsModal #trainerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="trainerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trainerModalLabel">Add trainer</h5>
        <button class="close" type="button" (click)="trainerModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #trainerForm="ngForm" autocomplete="off" (ngSubmit)="insertTrainer(trainerForm)">
            <input type="hidden" name="Id">
            <div class="form-group">
              <label>Trainer</label>
              <select class="custom-select" name="trainerId" #trainerId ngModel required style="margin-bottom: 15px">
                <option value="" disabled selected>Please select trainer</option>
                <option *ngFor="let trainer of trainerService.trainers"
                        [value]="trainer.userId">{{trainer.firstName + ' ' + trainer.lastName}}</option>
                <div class="validation-error" *ngIf="trainerId.invalid && trainerId.touched">This field is required
                </div>
              </select>
            </div>
            <div class="form-group">
              <label>Group</label>
              <select class="custom-select" name="groupId" #groupId ngModel required style="margin-bottom: 15px">
                <option value="" disabled selected>Please select group</option>
                <option *ngFor="let group of groups" [value]="group.id">{{group.nameGroup + ' trainer: ' + group.trainerName }}</option>
                <div class="validation-error" *ngIf="groupId.invalid && groupId.touched">This field is required
                </div>
              </select>
            </div>
            <div class="modal-footer">
              <button [disabled]="!trainerForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #employeeModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="employeeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">Add employee</h5>
        <button class="close" type="button" (click)="employeeModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #employeeForm="ngForm" autocomplete="off"  >
            <input type="hidden" name="Id">
            <div class="form-group">
              <label>Employee</label>
              <div class="container" style="margin: 0">
                <ngx-select
                  placeholder="Select employee"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault2()"
                  [items]="employeesSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="doSelect($event)"
                  (remove)="doRemove($event)">
                </ngx-select>
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="addEmploy(addEmployee); employeeModal.hide();" [disabled]="!employeeForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #materialsModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="materialsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="materialsModalLabel">Upload file</h5>
        <button class="close" type="button" (click)="materialsModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #materialsForm="ngForm" autocomplete="off" (ngSubmit)="OnFileSubmit(File  )" >
            <div class="image-file">
              <input type="file"  #File name="File" (change)="handleFileInput($event.target.files, File)" class="custom-file-input" id="lessonFile">
              <label class="custom-file-label">Choose file</label>
              <div *ngIf="fileToUpload!=null" class="mt-2">{{fileToUpload.name}}</div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!materialsForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #lessensModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="lessensModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lessensModalLabel">Lessen</h5>
        <button class="close" type="button" (click)="lessensModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #lessonsForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(lessonsForm)">
            <input type="hidden" name="courseId" [(ngModel)]= "course.courseId">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxLength="64" name="name" #name="ngModel" [(ngModel)]="lessonServise.formData.name" required>
              <div class="validation-error" *ngIf="name.invalid && name.touched">This field is required</div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!lessonsForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
