<user-header></user-header>
<div class="container-fluid">
  <div *ngIf="roleService.roleMatch(['ADMIN'])" id="admin-dashboards">
    <dashboards-admin-form></dashboards-admin-form>
  </div>
  <div *ngIf="roleService.roleMatch(['TRAINER'])" id="trainer-dashboards">
    <dashboards-trainer-form></dashboards-trainer-form>
  </div>
  <div *ngIf="roleService.roleMatch(['MANAGER'])" id="manager-dashboards">
    <dashboards-manager-form></dashboards-manager-form>
  </div>
  <div *ngIf="roleService.roleMatch(['EMPLOYEE'])" id="employee-dashboards">
    <dashboards-employee-form></dashboards-employee-form>
  </div>
</div>

