<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <div class="col-lg-12">
    <blockquote class="blockquote text-center">
      <h5 class="display-4">Notifications</h5>
    </blockquote>
  </div>
  <div class="container-fluid" style="margin-top: 15px;">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Information</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let mes of notif">
        <td>{{mes.content}}</td>
      </tr>
      </tbody>
    </table>
    <pagination></pagination>
  </div>
</div>
