<div class="header" style="padding: 0%; margin: 0%; width: 100%">
  <nav class="navbar navbar-expand-lg navbar-light static-top">

    <a class="navbar-brand">
      <img src="assets/img/netcracker-logo.png" width="70" alt="NetCracker">
    </a>
    <div class="col-lg-8" style="padding: 0">
      <blockquote class="blockquote text-left">
        <h2 style="margin: 15px 0 0 0; color: #2b6f9b"><em>Bricks Training Center</em></h2>
      </blockquote>
    </div>
    <button class="navbar-toggler" type="button" (click)="notifications = !notifications"
            [attr.aria-expanded]="!notifications" aria-controls="userNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Search -->
    <div class="collapse navbar-collapse" id="userNavbarCollapsed" [collapse]="notifications">
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <ul class="navbar-nav ml-auto ml-md-0">
          <div class="btn-group" dropdown>
            <a class="nav-link " aria-controls="dropdown-split" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!--href="#"-->
              <i class="cursor" routerLink="/notifications"><img class="img_width" src="assets/img/icon_notif.png" alt=""></i>
              <button id="button-split1" type="button" dropdownToggle class="btn btn-link dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split"></button>
            </a>
            <div>
              <ul id="dropdown-split1" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-split">
                <li class="notif" role="menuitem" *ngFor="let mes of notif">
                  <a class="dropdown-item" style="width: auto; height: 50px;">{{mes.content}}</a>
                  <hr>
                </li>
              </ul>
            </div>
          </div>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/chats">
              <i class="cursor"><img class="img_width" src="assets/img/icon_chat.png" alt=""></i></a>
          </li>
          <li class="nav-item dropdown no-arrow">
            <div class="btn-group" dropdown>
              <a class="nav-link" aria-controls="dropdown-split" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!--href="#"-->
                <i class="cursor" (click)="goToProfile()"><img class="img_width" src="assets/img/icon_profil.png" alt=""></i>
                  <button style="padding: 0%; color: #aaaaaa;" id="button-split2" type="button" dropdownToggle class="btn btn-link dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split"></button>
              </a>
              <ul id="dropdown-split2" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item cursor" (click)="goToProfile()">Profile</a></li>
                <li role="menuitem" *ngIf="roleService.roleMatch(['ADMIN'])"><a class="dropdown-item cursor" [routerLink]="['/setting']">Setting</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item cursor" (click)="logOut()">Logout</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </form>
    </div>
  </nav>
  <div id="wrapper">
    <wrapper-container></wrapper-container>
  </div>
</div>
