<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="col-lg-12">
      <blockquote class="blockquote text-left">
        <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
          <p>Users attendance</p>
          <div class="container select" *ngIf="roleService.roleMatch(['MANAGER'])">
            <ngx-select
              placeholder="Select subordinate"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="usersSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="selectUser($event)"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
          <div class="container select">
            <ngx-select
              placeholder="Select course"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="coursesSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="getG($event)"
              (remove)="courseId = null"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
          <div class="container select">
            <ngx-select
              placeholder="Select group"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="groupSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelectGroup($event)"
              (remove)="groupId = null"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
          <button [disabled]="courseId == null" *ngIf="roleService.roleMatch(['ADMIN'])" (click)="downloadAtendenceReport()" type="button" class="btn btn-success" style="margin-right: 12px">Download course report</button>
          <button [disabled]="groupId == null" *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])" (click)="downloadGroupReport()" type="button" class="btn btn-success">Download group report</button>
        </form>
      </blockquote>
    </div>
  <div class="container-fluid" style="margin-top: 15px; overflow-x: scroll;" *ngIf="roleService.roleMatch(['TRAINER'])||roleService.roleMatch(['ADMIN'])">
    <table class="table table-bordered">
      <thead class="thead-inverse">
      <tr>
        <th scope="col" style="padding:60px 90px"><p style="margin: 0">Studens\Lessons</p></th>
        <th scope="col" *ngFor="let lesson of groupLessons">
          <div class="d-flex">
            <div class="p-2"><p style="white-space: pre; margin: 0">{{lesson.lessonName}}</p>
              <br><p style="white-space: pre; margin: 0">{{lesson.lessonStatus}}</p>
              <br><p style="white-space: pre; margin: 0">{{lesson.lessonDate}}</p></div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="roleService.roleMatch(['ADMIN'])">
        <tr *ngFor="let user of lessonsTable[0].userAttendance; let i = index" >
          <th scope="row">{{user.userName }}</th>
          <td *ngFor="let lesson of lessonsTable;">{{lesson.userAttendance[i].attendanceStatus}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="roleService.roleMatch(['TRAINER'])">
      <tr *ngFor="let user of lessonsTable[0].userAttendance; let i = index" >
        <th class="cursor" scope="row">{{user.userName }}</th>
        <td *ngFor="let lesson of lessonsTable; let k = index"
            (click)="showModal(k); setstatus.userId = user.userId ; setstatus.lessonId = lesson.lessonsId">
          <div class="cursor" *ngIf="lesson.lessonsStatus === 'PASSED'" style="padding: 0">{{lesson.userAttendance[i].attendanceStatus}}<p style="color: white; margin: 0">//</p></div>
          <div *ngIf="lesson.lessonsStatus != 'PASSED'">{{lesson.userAttendance[i].attendanceStatus}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid" style="margin-top: 15px; overflow-x: scroll;" *ngIf="roleService.roleMatch(['EMPLOYEE'])||roleService.roleMatch(['MANAGER'])">
    <table class="table table-bordered">
      <thead class="thead-inverse">
      <tr>
        <th scope="col" style="padding: 60px 90px"><p style="margin: 0">Studens\Lessons</p></th>
        <th scope="col" *ngFor="let lesson of groupLessons">
          <div class="d-flex">
            <div class="p-2"><p style="white-space: pre; margin: 0">{{lesson.lessonName}}</p>
              <br><p style="white-space: pre; margin: 0">{{lesson.lessonStatus}}</p>
              <br><p style="white-space: pre; margin: 0">{{lesson.lessonDate}}</p></div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="roleService.roleMatch(['EMPLOYEE'])">
      <tr *ngFor="let user of lessonsTable[0].userAttendance; let i = index" >
        <th scope="row">{{user.userName }}</th>
        <td *ngFor="let lesson of lessonsTable; let k = index"
            (click)="status = lesson.userAttendance[i].attendanceStatus; showModalEmployee(k);setstatus.presenceStatusId =3; setstatus.userId = user.userId ; setstatus.lessonId = lesson.lessonsId">
          <div class="cursor" *ngIf="lesson.lessonsStatus === 'PASSED'" style="padding: 0">{{lesson.userAttendance[i].attendanceStatus}}<p style="color: white; margin: 0">//</p></div>
          <div *ngIf="lesson.lessonsStatus != 'PASSED'">{{lesson.userAttendance[i].attendanceStatus}}</div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="roleService.roleMatch(['MANAGER'])">
      <tr *ngFor="let user of lessonsTable[0].userAttendance; let i = index" >
        <th scope="row">{{user.userName }}</th>
        <td *ngFor="let lesson of lessonsTable">{{lesson.userAttendance[i].attendanceStatus}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" bsModal #setStatusModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="setStatusModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="setStatusModalLabel">Set status for attendance</h5>
        <button class="close" type="button" (click)="setStatusModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #setStatusForm="ngForm" autocomplete="off">
            <div class="form-group">
              <div class="container" style="margin: 0">
                <ngx-select
                  placeholder="Select status"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault3()"
                  [items]="presentStatusSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="setStatus($event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!setStatusForm.valid" (click)="setAttendance()" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #setAbsenceReasonModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="setAbsenceReasonModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="setAbsenceReasonModalLabel">Set absence reason</h5>
        <button class="close" type="button" (click)="setAbsenceReasonModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #setAbsenceReasonForm="ngForm"  autocomplete="off">
            <div class="form-group">
              <div class="container" style="margin: 0">
                <ngx-select
                  placeholder="Select status"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault3()"
                  [items]="absenceReasonSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="selectReason($event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!setAbsenceReasonForm.valid" (click)="setReason()" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
