<user-header></user-header>
<div class="container-fluid" style="margin-top: 10px;">
  <form class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <input class="form-control mr-sm-2" [(ngModel)]="searchString" (ngModelChange)="search()" placeholder="News name" type="text" name="name">
    </div>
  </form>

  <div class="container-fluid" style="margin-top: 15px;">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 50%">Title</th>
        <th>Info</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let new of sliceViaPaginationNewsList" (click)="goToNews(new.newsPostId)">
        <th scope="row">{{new.header}}</th>
        <td>{{new.description}}</td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="newsList.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<div class="modal fade" bsModal #newsModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="newsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsModalLabel">News</h5>
        <button class="close" type="button" (click)="newsModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #newsForm="ngForm" autocomplete="off"
                (ngSubmit)="addNews(newsForm)">
            <input type="hidden" name="newsId">
            <div class="form-group">
              <div class="profile-img" style="width: 300px">
                <img src="../../../../assets/img/3.jpg" alt=""/>
                <div class="file btn btn-lg btn-primary">
                  Change Photo
                  <input type="file" name="file"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" maxLength="64" name="header" required>
            </div>
            <div class="form-group">
              <label>Short description</label>
              <input type="text" class="form-control" maxLength="64" name="description" required>
            </div>
            <div class="form-group">
              <label>Information</label>
              <textarea class="form-control" type="text" name="content"></textarea>
            </div>
            <div class="modal-footer">
              <button [disabled]="!newsForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

