<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <form #courseFilterForm="ngForm" autocomplete="off" class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
      <button *ngIf="roleService.roleMatch(['ADMIN'])" type="button" class="btn btn-success" style="margin-right: 12px;"
              (click)="resetForm(courseForm); courseModal.show()">New course</button>
    </div>
    <div class="p-2 bd-highlight">
      <input class="form-control mr-sm-2" placeholder="Course name" type="text" name="name" #name
             ngModel (ngModelChange)="getCoursesByFilters(courseFilterForm)">
    </div>
    <div class="p-2 bd-highlight" style="margin-right: 3%">
    </div>
  </form>

  <div class="card mb-12 height_group border-0">
    <div class="row no-gutters ">
      <div class="col-md-2" *ngIf="roleService.roleMatch(['EMPLOYEE'])||roleService.roleMatch(['MANAGER'])||roleService.roleMatch(['TRAINER'])">
        <div class="list-group">
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); allCourses = !allCourses"
             [attr.aria-expanded]="!allCourses" aria-controls="collapseBasic">All courses</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); myCourses = !myCourses"
             [attr.aria-expanded]="!myCourses" aria-controls="collapseBasic">My courses</a>
        </div>
      </div>
      <div class="col-md-10" *ngIf="roleService.roleMatch(['EMPLOYEE'])||roleService.roleMatch(['MANAGER'])||roleService.roleMatch(['TRAINER'])">
        <div class="container-fluid">
          <div [collapse]="myCourses">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Type of course</th>
                <th>Start Date</th>
                <th>Close Date</th>
                <th>Difficulty</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let course of sliceViaPaginationCourseList">
                <td (click)="goToCourse(course.courseId)">{{course.courseName}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.courseType}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.startDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.endDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.difficultyLevel}}</td>
              </tr>
              </tbody>
            </table>
            <pagination [totalItems]="service.coursesList.length" (pageChanged)="pageChanged($event)"></pagination>
          </div>
          <div [collapse]="allCourses">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Type of course</th>
                <th>Start Date</th>
                <th>Close Date</th>
                <th>Difficulty</th>
                <th *ngIf="!roleService.roleMatch(['TRAINER'])">Function</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let course of allSliceViaPaginationCourseList">
                <td (click)="goToCourse(course.courseId)">{{course.courseName}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.courseType}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.startDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.endDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.difficultyLevel}}</td>
                <td *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])||roleService.roleMatch(['EMPLOYEE'])">
                  <div class="btn-group">
                    <a class="nav-link" role="button" (click)=" courseEditId = course.courseId; courseEditName=course.courseName;
            courseEditStart=course.startDate; courseEditEnd=course.endDate; courseEditType=course.courseType;
            courseEditLevel=course.difficultyLevel; courseEditModal.show();">
                      <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update"></i></a>
                    <a (click)="wantToCourse(course.courseId )" class="nav-link" role="button" *ngIf="roleService.roleMatch(['EMPLOYEE'])||roleService.roleMatch(['MANAGER'])">
                      <i class="cursor"><img class="img_width_1" src="assets/img/icon_plus.png" alt="Ask for a course"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination [totalItems]="service.coursesList.length" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="roleService.roleMatch(['ADMIN'])">
        <div class="container-fluid">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Type of course</th>
                <th>Start Date</th>
                <th>Close Date</th>
                <th>Difficulty</th>
                <th *ngIf="roleService.roleMatch(['ADMIN'])">Function</th>
              </tr>
              </thead>
              <tbody>
              <tr class="cursor" *ngFor="let course of allSliceViaPaginationCourseList">
                <td (click)="goToCourse(course.courseId)">{{course.courseName}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.courseType}}</td>
                <td (click)="goToCourse(course.courseId)">{{course.startDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.endDate | date:  "dd.MM.y" }}</td>
                <td (click)="goToCourse(course.courseId)">{{course.difficultyLevel}}</td>
                <td *ngIf="roleService.roleMatch(['ADMIN'])">
                  <div class="btn-group">
                    <a class="nav-link" role="button" (click)=" courseEditId = course.courseId; courseEditName=course.courseName;
            courseEditStart=course.startDate; courseEditEnd=course.endDate; courseEditType=course.courseType;
            courseEditLevel=course.difficultyLevel; courseEditModal.show();">
                      <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination [totalItems]="service.coursesList.length" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #courseModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="courseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="courseModalLabel">New course</h5>
        <button class="close" type="button" (click)="courseModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #courseForm="ngForm" autocomplete="off"
                (ngSubmit)="onSubmit(courseForm)">
            <input type="hidden" name="courseId" #courseId="ngModel" [(ngModel)]="courseUpdateId">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxLength="64" name="courseName" #courseName="ngModel"
                     [(ngModel)]="service.formData1.courseName" required>
              <div class="validation-error" *ngIf="courseName.invalid && courseName.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <label>Type of course</label>
              <ngx-select
                placeholder="Select types of course"
                [allowClear]="true"
                [defaultValue]="doNgxDefault1()"
                [items]="courseTypesSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="getDifficulty($event)"
                (remove)="doRemove($event)"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
              <input type="hidden" name="courseTypeId" #courseTypeId="ngModel" [(ngModel)]="courseTypeIdSelected">
            </div>
            <div class="form-group">
              <label>Date of entry</label>
              <div class="input-group">
                <input type="text" bsDatepicker #startDate="bsDatepicker" placement="right" class="form-control" name="startDate"
                       placeholder="dd/mm/yyyy" required [(ngModel)]="service.formData1.startDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()"
                          type="button"></button>
                </div>
              </div>
              <div class="validation-error" *ngIf="!startDate.valid && startDate.touched">This field is required
              </div>
            </div>
            <div class="form-group">
              <label>Date of close</label>
              <div class="input-group">
                <input type="text" bsDatepicker #endDate="bsDatepicker" placement="right" class="form-control" name="endDate"
                       placeholder="dd/mm/yyyy" required [(ngModel)]="service.formData1.endDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()"
                          type="button"></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Difficulty</label>
              <ngx-select
                placeholder="Select level"
                [allowClear]="true"
                [defaultValue]="doNgxDefault2()"
                [items]="courseLevelSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="doSelectDifficulty($event)"
                (remove)="doRemove($event)"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
              <input type="hidden" name="difficultyLevelId" #difficultyLevelId="ngModel" [(ngModel)]="difficultyLevelIdSelected">
              <div class="validation-error">This field is required</div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!courseForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #courseEditModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog"
     aria-labelledby="courseEditModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="courseEditModalLabel">Update course</h5>
        <button class="close" type="button" (click)="courseEditModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #courseEditForm="ngForm" autocomplete="off"
                (ngSubmit)="updateCourse(courseEditForm)">
            <input type="hidden" name="courseId" #courseId="ngModel" [(ngModel)]="courseEditId">
            <input type="hidden" name="courseType" #courseType="ngModel" [(ngModel)]="courseEditType">
            <input type="hidden" name="difficultyLevel" #difficultyLevel="ngModel" [(ngModel)]="courseEditLevel">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxLength="64" name="courseName" #courseName="ngModel"
                     [(ngModel)]="courseEditName" required>
              <div class="validation-error" *ngIf="courseName.invalid && courseName.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <label>Date of entry</label>
              <div class="input-group">
                <input type="text" bsDatepicker #startDate="bsDatepicker" placement="right" class="form-control" name="startDate"
                       placeholder="dd/mm/yyyy" required [(ngModel)]="courseEditStart">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()"
                          type="button"></button>
                </div>
              </div>
              <div class="validation-error" *ngIf="!startDate.valid && startDate.touched">This field is required
              </div>
            </div>
            <div class="form-group">
              <label>Date of close</label>
              <div class="input-group">
                <input type="text" bsDatepicker #endDate="bsDatepicker" placement="right" class="form-control" name="endDate"
                       placeholder="dd/mm/yyyy" required [(ngModel)]="courseEditEnd">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()"
                          type="button"></button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!courseEditForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
