<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <form #groupFilterForm="ngForm" autocomplete="off"
        (ngSubmit)="getGroupsByFilters(groupFilterForm)" class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
    <div class="mr-auto p-2 bd-highlight">
      <button *ngIf="roleService.roleMatch(['ADMIN'])" type="button" class="btn btn-success" style="margin-right: 12px"
              (click)="resetForm(groupForm); groupModal.show()">New group</button>
    </div>
    <div class="p-2 bd-highlight">
      <input class="form-control mr-sm-2" placeholder="Group name" type="text" name="name" #name
             ngModel (ngModelChange)="getGroupsByFilters(groupFilterForm)">
    </div>
  </form>
  <div class="container-fluid" style="margin-top: 15px;">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Course</th>
        <th *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">Function</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let group of sliceViaPaginationGroupList">
        <th (click)="goToGroup(group.id)" scope="row">{{group.nameGroup}}</th>
        <td (click)="goToGroup(group.id)">{{getNameCourseByIdCourse(group.courseId)}}</td>
        <td *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">
          <a class="nav-link" role="button" (click)="groupModal.show()">
            <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="service.groupsList.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<div class="modal fade" bsModal #groupModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="groupModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupModalLabel">New group</h5>
        <button class="close" type="button" (click)="groupModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #groupForm="ngForm" autocomplete="off"
                (ngSubmit)="onSubmit(groupForm)">

            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxLength="64" name="nameGroup" #nameGroup="ngModel"
                     [(ngModel)]="service.formData.nameGroup" required>
              <div class="validation-error" *ngIf="nameGroup.invalid && nameGroup.touched">This field is
                required
              </div>
            </div>
            <select class="custom-select" name="courseId" #courseId="ngModel" [(ngModel)]="service.formData.courseId"
                    required>
              <option *ngIf="conditionAddForm;else unset" [value]="null">Please select course</option>
              <ng-template #unset>
                <option
                  [value]="service.formData.courseId">{{getNameCourseByIdCourse(service.formData.courseId)}}</option>
              </ng-template>
              <option [hidden]="!conditionAddForm" *ngFor="let course of courseService.coursesList"
                      [value]="course.courseId">{{course.courseName}}</option>
            </select>
            <div class="modal-footer">
              <button [disabled]="!groupForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
