<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="col-lg-12">
      <blockquote class="blockquote text-left">
        <p>Please choose a course schedule convenient for you</p>

      </blockquote>
    </div>
  <div class="container-fluid" style="margin-top: 15px;">
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th class="width_th" scope="col"></th>
        <th class="width_th" scope="col">Monday</th>
        <th class="width_th" scope="col">Tuesday</th>
        <th class="width_th" scope="col">Wednesday</th>
        <th class="width_th" scope="col">Thursday</th>
        <th class="width_th" scope="col">Friday</th>
        <th class="width_th" scope="col">Saturday</th>
        <th class="width_th" scope="col">Sunday</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let daay of days; let i = index ">
        <th scope="row">{{daay.times[i].name}}</th>
        <td (click)="selectTime( daay.times[i].name , '1');deleteDesiredTime(daay.times[i].name , '1');"
            *ngIf="days[0].times[i].isSelect;else unset"
            class="color" scope="col"></td>
        <ng-template #unset>
          <th (click)="selectTime( daay.times[i].name , '1');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '2');deleteDesiredTime(daay.times[i].name , '2');"
            *ngIf="days[1].times[i].isSelect;else unset1"
            class="color" scope="col"></td>
        <ng-template #unset1>
          <th (click)="selectTime( daay.times[i].name , '2');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '3');deleteDesiredTime(daay.times[i].name , '3');"
            *ngIf="days[2].times[i].isSelect;else unset2"
            class="color" scope="col"></td>
        <ng-template #unset2>
          <th (click)="selectTime( daay.times[i].name , '3');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '4');deleteDesiredTime(daay.times[i].name , '4');"
            *ngIf="days[3].times[i].isSelect;else unset3"
            class="color" scope="col"></td>
        <ng-template #unset3>
          <th (click)="selectTime( daay.times[i].name , '4');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '5');deleteDesiredTime(daay.times[i].name , '5');"
            *ngIf="days[4].times[i].isSelect;else unset4"
            class="color" scope="col"></td>
        <ng-template #unset4>
          <th (click)="selectTime( daay.times[i].name , '5');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '6');deleteDesiredTime(daay.times[i].name , '6');"
            *ngIf="days[5].times[i].isSelect;else unset5"
            class="color" scope="col"></td>
        <ng-template #unset5>
          <th (click)="selectTime( daay.times[i].name , '6');uploadTime();" scope="col"></th>
        </ng-template>
        <td (click)="selectTime( daay.times[i].name , '7');deleteDesiredTime(daay.times[i].name , '7');"
            *ngIf="days[6].times[i].isSelect;else unset6"
            class="color" scope="col"></td>
        <ng-template #unset6>
          <th (click)="selectTime( daay.times[i].name , '7');uploadTime();" scope="col"></th>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>

