<div id="cd-login">
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value, Password.value)">
    <div class="form-group">
      <div class="input-group flex-nowrap" style="width:85%; margin-left:5%; margin-top: 5%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <input type="text" class="form-control" placeholder="User Name" aria-label="UserName" aria-describedby="addon-wrapping" style="height: 50px;" #UserName ngModel name="UserName" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3" style="width:85%; margin-left:5%; margin-top: 5%;">
        <input type="password" class="form-control" placeholder="Password" style="height: 50px;"#Password ngModel name="Password" required>
        <!--<div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" userId="button-addon2">Hide</button>
        </div>-->
      </div>
    </div>
    <div class="form-group" style="width:85%; margin-left:5%; margin-top: 5%;">
      <input type="checkbox" id="remember-me">
      <label for="remember-me" style="margin-left: 5px;">Check me out</label>
    </div>
    <p class="fieldset" style="margin-left:5%; margin-top: 5%;">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary" style="margin-right: 5%">Submit</button>
    </p>
  </form>
  <p class="nav-link" style="position:center;"><a style="margin-left: 40%;" routerLink="/check/reset">Forgot password?</a></p>
</div>
