<div class="row">
  <div class="col s6 offset-s3">
    <div class="card text-center">
      <div class="card-image">
        <img src="../assets/403.jpg" style="height:300px;width:300px;">
      </div>
      <div class="card-content">
        <span class="card-title" style="color:#039be5">404 - NOT FOUND</span>
      </div>
    </div>
  </div>
</div>
