<div id="wrapper">
  <div class="navbar navbar-expand-lg navbar-light shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container" style="padding: 0px;  margin-left: 0;">
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/home" style="color: #000066;">
              <span>Home</span></a>
          </div>
        </li>
        <li class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/news" style="color: #000066;">
              <span>News</span></a>
          </div>
        </li>
        <li class="nav-item" *ngIf="!roleService.roleMatch(['EMPLOYEE'])">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/dashboards" style="color: #000066;">
              <span>Dashboards</span></a>
          </div>
        </li>
        <li class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/courses" style="color: #000066;">
              <span>Courses</span></a>
          </div>
        </li>
        <li class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/groups" style="color: #000066;">
              <span>Groups</span></a>
          </div>
        </li>
        <li *ngIf="roleService.roleMatch(['EMPLOYEE'])||roleService.roleMatch(['MANAGER'])" class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/calendar" style="color: #000066;">
              <span>Schedule</span></a>
          </div>
        </li>
        <li class="nav-item">
          <div class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/attendance" style="color: #000066;">
              <span>Attendance</span></a>
          </div>
        </li>
        <!--Сделать только для админа-->
        <li class="nav-item">
          <div *ngIf="!roleService.roleMatch(['EMPLOYEE'])" class="container" style="margin-left: 0">
            <a class="nav-link" routerLink="/users" style="color: #000066;">
              <span>Users</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" routerLink="">Logout</a>
        </div>
      </div>
    </div>
  </div>



</div>
