<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <div class="col-lg-12">
    <blockquote class="blockquote text-center">
      <h5 class="display-4">Setting</h5>
    </blockquote>
  </div>
  <div class="card mb-12 height_group border-0">
    <div class="row no-gutters ">
      <div class="col-md-2">
        <div class="list-group">
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); sliderSettingPanel = !sliderSettingPanel"
             [attr.aria-expanded]="!sliderSettingPanel" aria-controls="collapseBasic">Slider setting</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); reasonForAbsencePanel = !reasonForAbsencePanel"
             [attr.aria-expanded]="!reasonForAbsencePanel" aria-controls="collapseBasic">Reason for absence</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); typeOfCoursePanel = !typeOfCoursePanel"
             [attr.aria-expanded]="!typeOfCoursePanel" aria-controls="collapseBasic">Type of course</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); difficultyLevelPanel = !difficultyLevelPanel"
             [attr.aria-expanded]="!difficultyLevelPanel" aria-controls="collapseBasic">Difficulty level</a>
          <a class="list-group-item list-group-item-action cursor" (click)="closeAll(); qualificationLevelPanel = !qualificationLevelPanel"
             [attr.aria-expanded]="!qualificationLevelPanel" aria-controls="collapseBasic">Qualification level</a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="container-fluid">
          <div [collapse]="sliderSettingPanel">
            <form class="d-flex bd-highlight mb-3" style="margin-top: 10px;">
              <div class="container select">
                <ngx-select
                  placeholder="Select for the first slide"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault1()"
                  [items]="newsListSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="setSlider(1 ,$event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
              <div class="container select">
                <ngx-select
                  placeholder="Select for the second slide"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault2()"
                  [items]="newsListSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="setSlider(2 ,$event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
              <div class="container select">
                <ngx-select
                  placeholder="Select for the third slide"
                  [allowClear]="true"
                  [defaultValue]="doNgxDefault3()"
                  [items]="newsListSelect"
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="setSlider(3 ,$event)"
                  (remove)="doRemove($event)"
                  (selectionChanges)="doSelectOptions($event)">
                </ngx-select>
              </div>
            </form>
          </div>
          <div [collapse]="reasonForAbsencePanel">
            <button type="button" class="btn btn-success" style="margin-right: 12px"
                    (click)="addAbsenceReasonModal.show()">Add reason for absence
            </button>
            <form class="d-flex bd-highlight mb-3" style="margin-top: 10px;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Existing</th>
                </tr>
                </thead>
                <tbody *ngFor="let status of absenceReason">
                <tr>
                  <td scope="col">{{status.absenceReasonName}}</td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
          <div [collapse]="typeOfCoursePanel">
            <button type="button" class="btn btn-success" style="margin-right: 12px"
                    (click)="addTypeOfCourseModal.show()">Add type of course
            </button>
            <form class="d-flex bd-highlight mb-3" style="margin-top: 10px;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Existing</th>
                </tr>
                </thead>
                <tbody *ngFor="let coursesType of courseTypes">
                <tr>
                  <td scope="col">{{coursesType.courseType}}</td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
          <div [collapse]="difficultyLevelPanel">
            <button type="button" class="btn btn-success" style="margin-right: 12px"
                    (click)="addDifficultyLevelModal.show()">Add difficulty level
            </button>
            <form class="d-flex bd-highlight mb-3" style="margin-top: 10px;">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">Existing</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let coursesLevel of courseLevels">
                  <tr>
                    <td scope="col">{{coursesLevel.courseLevel}}</td>
                  </tr>
                  </tbody>
                </table>
            </form>
          </div>
          <div [collapse]="qualificationLevelPanel">
            <button type="button" class="btn btn-success" style="margin-right: 12px"
                    (click)="addQualificationLevelModal.show()">Add qualification level
            </button>
            <form class="d-flex bd-highlight mb-3" style="margin-top: 10px;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Existing</th>
                </tr>
                </thead>
                <tbody *ngFor="let level of qualificationLevels">
                <tr>
                  <td scope="col">{{level.qualificationName}}</td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #addAbsenceReasonModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="addModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add reason for absence</h5>
        <button class="close" type="button" (click)="addAbsenceReasonModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addAbsenceReasonForm="ngForm" autocomplete="off"
                (ngSubmit)="addNewAbsenceReason(newAbsenceReason)">
            <input type="hidden" name="">
            <div class="form-group">
              <label>Name</label>
              <input type="text" [(ngModel)]="newAbsenceReason"  class="form-control" maxLength="64" name="nameInfo" required>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addAbsenceReasonForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #addTypeOfCourseModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="addTypeOfCourseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTypeOfCourseModalLabel">Add type of course</h5>
        <button class="close" type="button" (click)="addTypeOfCourseModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addTypeOfCourseForm="ngForm" autocomplete="off"
                (ngSubmit)="addNewTypeOfCourse(newTypeOfCourse)">
            <input type="hidden" name="">
            <div class="form-group">
              <label>Name</label>
              <input type="text" [(ngModel)]="newTypeOfCourse" class="form-control" maxLength="64" name="nameInfo" required>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addTypeOfCourseForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #addDifficultyLevelModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="addDifficultyLevelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDifficultyLevelModalLabel">Add difficulty level</h5>
        <button class="close" type="button" (click)="addDifficultyLevelModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addDifficultyLevelForm="ngForm" autocomplete="off"
                (ngSubmit)="addNewDifficultyLevel(newDifficultyLevel)">
            <input type="hidden" name="">
            <div class="form-group">
              <label>Name</label>
              <input type="text" [(ngModel)]="newDifficultyLevel" class="form-control" maxLength="64" name="nameInfo" required>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addDifficultyLevelForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #addQualificationLevelModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="addQualificationLevelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addQualificationLevelModalLabel">Add qualification level</h5>
        <button class="close" type="button" (click)="addQualificationLevelModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addQualificationLevelForm="ngForm" autocomplete="off"
                (ngSubmit)="addNewQualificationLevel(newQualificationLevel)">
            <input type="hidden" name="">
            <div class="form-group">
              <label>Name</label>
              <input type="text" [(ngModel)]="newQualificationLevel" class="form-control" maxLength="64" name="nameInfo" required>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addQualificationLevelForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
