<div class="container-fluid" style="margin-top: 15px;">
  <div class="card-group">
    <div class="container" style="width: 250px; height: 500px">
      <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="max-width: 20rem; height: 200px;">
        <div class="card-body">
          <p></p>
          <h5 class="card-title">{{statistik.length}}</h5>
          <hr>
          <p class="card-text">Quantity of subordinates</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="card mb-3 border shadow p-3 mb-5 bg-white rounded" style="margin-right: 4%; width: 40%">
      <div class="card-header bg-transparent border-success">
        <form class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
          Absence of subordinates
          <div class="container select" >
            <ngx-select
              placeholder="Select subordinate"
              [allowClear]="true"
              [defaultValue]="doNgxDefault1()"
              [items]="statistikSelect"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelect($event);"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
          </div>
        </form>
      </div>
      <div class="row no-gutters">
        <div class="col-md-3">
          <div class="card-body" style="width: 300px">
            <div style="display: inline-block">
              <ngx-charts-pie-chart
                [view]="viewPie"
                [scheme]="colorScheme"
                [results]="courseTypeStatsGroupsChart"
                [legend]="showLegend"
                [legendPosition]="positionLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
