<user-header></user-header>

<div class="container-fluid">
  <div class="card-group">
    <div class="card" style="margin-left: 4%">
      <div class="card-body">
        <div class="profile-img" style="width: 400px">
          <img [src]="setImageProfile()" alt=""/>
          <div class="file btn btn-lg btn-primary" *ngIf="isShow()" (click)="imageProfileModal.show()">
            Change Photo
          </div>
        </div>
      </div>
    </div>
    <div class="card border" style="margin-left: 16px; margin-right: 4%; width: 80%">
      <div class="card-body">
        <div class="card-text">
          <div class="col-md-8">
            <div class="tab-content profile-tab">
              <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Username</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profile.username}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>First Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profile.firstName}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Last Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profile.lastName}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Role</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{roleService.getRoleName(profile.roleId)}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>E-mail</label>
                  </div>
                  <div class="col-md-6" style="width: 100%">
                    <p>{{profile.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="width: 100%"  *ngIf="isShow()">
                    <button (click)="updateProfile(profile); profileModal.show()"
                            type="button" class="btn btn-sm btn-primary" style="height:50px; margin-right: 12px">Edit
                      profile
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="isShowFeedback()">
    <p>Trainers feedback</p>
    <div class="card" style="margin: 0 4%">
      <div class="mesg border rounded">
        <div class="msg_history_profil">
          <div>
            <div class="trainer_msg" *ngFor="let feed of feedbackAboutUser">
              <div class="sent_msg width_profil_message">
                <p class="border" style="background-color: white; color: black">{{feed.content}}</p>
                <span class="time_date"> {{feed.courseName}} | {{feed.groupName}} | {{feed.fullName}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div >
  </div>
</div>


<div class="modal fade" bsModal #profileModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="profileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Personal data</h5>
        <button class="close" type="button" (click)="profileModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #profileForm="ngForm" (ngSubmit)="OnSubmit(profileForm)">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" maxlength="100" name="firstName" #firstName="ngModel"
                     [(ngModel)]="service.formData.firstName" required>
              <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is required
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" maxlength="64" name="email" #email="ngModel"
                     [(ngModel)]="service.formData.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <div class="validation-error" *ngIf="email.invalid && email.touched">Invalid email</div>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" maxlength="64" name="username" #username="ngModel"
                     [(ngModel)]="service.formData.username" required>
              <div class="validation-error" *ngIf="username.invalid && username.touched">Invalid username</div>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" maxlength="64" name="lastName" #lastName="ngModel"
                     [(ngModel)]="service.formData.lastName" required>
              <div class="validation-error" *ngIf="lastName.invalid && lastName.touched">This field is required</div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!profileForm.valid" type="submit" class="btn btn-primary">Save</button>
              <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #imageProfileModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="imageProfileModal" aria-hidden="true" [config]="{backdrop: 'static'}"
     (onHide)="handlerCloseModal(Image)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageProfileModalLabel">Edit photo of profile</h5>
        <button class="close" type="button" (click)="Image.value = null; imageProfileModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #imageProfileForm="ngForm" (ngSubmit)="OnImageProfileSubmit(Image)">
            <div class="image-file">
              <input type="file" #Image name="Image" accept="image/*"
                     (change)="handleFileInput($event.target.files, Image)" class="custom-file-input"
                     id="imageProfileFile">
              <label class="custom-file-label" for="imageProfileFile">Choose file</label>
              <div class="mt-2"><img *ngIf="modalImageUrl!=null" [src]="modalImageUrl" class="rounded mx-auto d-block"
                                     style="width:200px; height:200px;"></div>
            </div>
            <div class="modal-footer">
              <button [disabled]="Image.value=='' || !imageProfileForm.valid" type="submit"
                      class="btn btn-primary">Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
