<user-header></user-header>
<div class="container-fluid" style="margin-top: 10px;">
  <form class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
      <button type="button" class="btn btn-success" style="margin-right: 12px; width: 150px;" (click)="homeModal.show()" *ngIf="roleService.roleMatch(['ADMIN'])">Add news</button>
    </div>
    <div class="p-2 bd-highlight">
      <input class="form-control mr-sm-2" [(ngModel)]="searchString" (ngModelChange)="search()" placeholder="News name" type="text" name="name">
    </div>
  </form>

  <div class="row card-row">
    <div class="card card-new" *ngFor="let new of sliceViaPaginationNewsList">
      <div class="card-body cursor">
        <div (click)="goToNews(new.newsPostId)"  class="row" style="margin-left: 0%">
          <div >
            <img class="card-img" [src]="new.picture" alt="" style="height: 200px"/>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted footer cursor" (click)="goToNews(new.newsPostId)">
        <a>
          <h3>{{new.header}}</h3>
        </a>
        <p>{{new.content}}</p>
      </div>
      <div class="card-footer text-muted footer" style="height: 50px">
        <div class="btn-group">
          <a class="nav-link padding-a">
            <i class="cursor"><img class="img_width" src="assets/img/icon_see.png" alt="See" title="Sees"></i>
            <span class="badge badge-light">{{new.numberOfViews}}</span></a>
          <a class="nav-link padding-a"  role="button" (click)="setLike(new.newsPostId , new.likedByCurrentUser)">
            <i class="cursor">
              <img *ngIf="!new.likedByCurrentUser" class="img_width" src="assets/img/icon_like.png" alt="Like" title="Like's">
              <img *ngIf="new.likedByCurrentUser" class="img_width" src="assets/img/icon_like_active.png" alt="Like" title="Like's"></i>
            <span class="badge badge-light">{{new.numberOfLikes}}</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <pagination [totalItems]="newsList.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>


<div class="modal fade" bsModal #homeModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="homeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel">News</h5>
        <button class="close" type="button" (click)="homeModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #homeForm="ngForm" autocomplete="off"
                (ngSubmit)="addNews(homeForm)">
            <div class="form-group">
              <div class="profile-img" style="width: 300px">
                <img *ngIf="modalImageUrl!=null" [src]="modalImageUrl" />
                <div class="file btn btn-lg btn-primary">
                  Change Photo
                  <input  type="file" #Image name="Image" accept="image/*"
                         (change)="handleFileInput($event.target.files, Image)" class="custom-file-input"
                         id="imageNewsFile"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" maxLength="64" name="header" #header = "ngModel" [(ngModel)]="addNew.header" required>
            </div>
            <div class="form-group">
              <label>Short description</label>
              <input type="text" class="form-control" maxLength="64" name="description" #description = "ngModel" [(ngModel)]="addNew.description" required>
            </div>
            <div class="form-group">
              <label>Information</label>
              <textarea class="form-control" type="text" name="content" #content = "ngModel" [(ngModel)]="addNew.content"></textarea>
            </div>
            <div class="modal-footer">
              <button [disabled]="!homeForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
