<user-header></user-header>
<div class="container-fluid" style="margin-top: 15px;">
  <form #userSearchForm="ngForm" autocomplete="off" class="d-flex bd-highlight mb-3" style="margin-bottom: 10px;">
    <div class="mr-auto p-2 bd-highlight" *ngIf="roleService.roleMatch(['ADMIN'])">
      <button type="button" class="btn btn-success"
              style="margin-bottom: 8px; margin-right: 12px"
              (click)="resetForm(userRegistrationForm); registerModal.show()">New user
      </button>
      <div class="form-check form-check-inline">
        <input class="form-check-input roles-check" type="checkbox" id="inlineCheckbox1"
               (change)="getUsersByFilters(userSearchForm)" value="3" checked>
        <label class="form-check-label" for="inlineCheckbox1">Trainers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input roles-check" type="checkbox" id="inlineCheckbox2"
               (change)="getUsersByFilters(userSearchForm)" value="2" checked>
        <label class="form-check-label" for="inlineCheckbox2">Managers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input roles-check" type="checkbox" id="inlineCheckbox3"
               (change)="getUsersByFilters(userSearchForm)" value="4" checked>
        <label class="form-check-label" for="inlineCheckbox3">Employees</label>
      </div>
    </div>
    <div class="p-2 bd-highlight">
      <input class="form-control mr-sm-2" type="text" placeholder="User name" name="username" #username
             ngModel (ngModelChange)="getUsersByFilters(userSearchForm)">
    </div>
  </form>
  <div class="container-fluid" style="margin-top: 15px;">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Username</th>
        <th>E-mail</th>
        <th *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">Function</th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor" *ngFor="let user of sliceViaPaginationUsersList">
          <th (click)="goToProfile(user.userId)" scope="row">{{user.lastName}} {{user.firstName}}</th>
          <td (click)="goToProfile(user.userId)">
            <span *ngIf="roleService.getRoleName(user.roleId)==='TRAINER'" class="badge badge-danger">{{roleService.getRoleName(user.roleId)}}</span>
            <span *ngIf="roleService.getRoleName(user.roleId)==='MANAGER'" class="badge badge-warning">{{roleService.getRoleName(user.roleId)}}</span>
            <span *ngIf="roleService.getRoleName(user.roleId)==='EMPLOYEE'" class="badge badge-success">{{roleService.getRoleName(user.roleId)}}</span>
          </td>
          <td (click)="goToProfile(user.userId)">{{user.username}}</td>
          <td (click)="goToProfile(user.userId)">{{user.email}}</td>
        <td *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])">
          <div *ngIf="roleService.roleMatch(['ADMIN'])">
            <div *ngIf="roleService.getRoleName(user.roleId)==='TRAINER'||roleService.getRoleName(user.roleId)==='MANAGER'" class="btn-group">
              <a *ngIf="roleService.getRoleName(user.roleId)==='TRAINER'" class="nav-link" role="button"
                 (click)="editQualificationLevelModal.show() ; trainerId = user.userId">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_level_up.png" alt="Update" title="Update user"></i></a>
              <a class="nav-link" role="button" (click)="userEditModal.show(); resetEditForm(userEditForm); getProfileUser(user.userId);">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_setting.png" alt="Update" title="Update user"></i></a>
              <a class="nav-link" role="button" (click)="userDeletedId = user.userId; deleteConfirmModal.show()">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_delete.png" alt="Delete" title="Delete user"></i></a>
            </div>
          </div>
            <div *ngIf="roleService.getRoleName(user.roleId)==='EMPLOYEE'" class="btn-group">
              <a class="nav-link" role="button" *ngIf="roleService.roleMatch(['ADMIN'])||roleService.roleMatch(['TRAINER'])" (click)="getManageByUserId(user.userId)">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_manager.png" alt="View manager" title="View manager"></i></a>
              <a class="nav-link" role="button" *ngIf="roleService.roleMatch(['ADMIN'])" (click)="userSetId = user.userId;  addManagerModal.show()">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_add_manager.png" alt="Add manager" title="Add manager"></i></a>
              <a class="nav-link" role="button" *ngIf="roleService.roleMatch(['TRAINER'])" (click)="feedbackModal.show() ; feedback.userId = user.userId;">
                <i class="cursor"><img class="img_width_1" src="assets/img/icon_feedback.png" alt="Add feedback" title="Add feedback"></i></a>
            </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="service.usersProfileList.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<div class="modal fade" bsModal #registerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="registerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Create user</h5>
        <button class="close" type="button" (click)="registerModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <tabset>
            <tab heading="Manager and Trainer">
              <form class="col-sm-12" #userRegistrationForm="ngForm" autocomplete="off"
                    (ngSubmit)="onSubmit(userRegistrationForm)">
                <div class="form-group">
                  <label>User name</label>
                  <input type="text" class="form-control" maxLength="64" name="username" #username="ngModel"
                         [(ngModel)]="user.username" required>
                  <div class="validation-error" *ngIf="username.invalid && username.touched">This field is
                    required
                  </div>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" maxLength="64" name="firstName" #firstName="ngModel"
                         [(ngModel)]="user.firstName" required>
                  <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is
                    required
                  </div>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" maxLength="64" name="lastName" #lastName="ngModel"
                         [(ngModel)]="user.lastName" required>
                  <div class="validation-error" *ngIf="lastName.invalid && lastName.touched">This field is
                    required
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" maxlength="64" name="email" #email="ngModel"
                         [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <div class="validation-error" *ngIf="email.invalid && email.touched">This field is
                    not correct
                  </div>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password"
                         #password="ngModel" [(ngModel)]="user.password" minlength="6">
                  <div *ngIf="!password.valid && (userRegistrationForm.submitted || password.touched)"
                       class="validation-error">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password must contain at least 6 or more characters.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="roleId" #roleId="ngModel"
                             [(ngModel)]="user.roleId"
                             value="3" required>Trainer</label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="roleId" #roleId="ngModel"
                             [(ngModel)]="user.roleId"
                             value="2" required>Manager</label>
                  </div>
                  <div class="validation-error" *ngIf="roleId.invalid && roleId.touched">This selecting is
                    required
                  </div>
                </div>
                <div class="modal-footer">
                  <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </tab>
            <tab heading="Employee">
              <form class="col-sm-12" #employeeRegistrationForm="ngForm" autocomplete="off"
                    (ngSubmit)="onEmployeeRegister(employeeEmail); registerModal.hide()" >
                <div class="form-group">
                  <label>Email</label>
                  <input [(ngModel)]="employeeEmail" type="text" class="form-control" maxlength="64" name="employeeEmail" #email ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <div class="validation-error" *ngIf="email.invalid && email.touched">This field is
                    not correct
                  </div>
                </div>

                <div class="modal-footer">
                  <button [disabled]="!employeeRegistrationForm.valid" type="submit" class="btn btn-primary">Save
                  </button>
                </div>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #userEditModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog"
     aria-labelledby="userEditModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditModalLabel">Update user</h5>
        <button class="close" type="button" (click)="userEditModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #userEditForm="ngForm" autocomplete="off"
                (ngSubmit)="onEditUser(userEditForm)">
            <input type="hidden" class="form-check-input" name="userId" #userId="ngModel"
                   [(ngModel)]="service.editUser.userId">
            <div class="form-group">
              <label>User name</label>
              <input type="text" class="form-control" maxLength="64" name="username" #username="ngModel"
                     [(ngModel)]="service.editUser.username" required>
              <div class="validation-error" *ngIf="username.invalid && username.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" maxLength="64" name="firstName" #firstName="ngModel"
                     [(ngModel)]="service.editUser.firstName" required>
              <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" maxLength="64" name="lastName" #lastName="ngModel"
                     [(ngModel)]="service.editUser.lastName" required>
              <div class="validation-error" *ngIf="lastName.invalid && lastName.touched">This field is
                required
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" maxlength="64" name="email" #email="ngModel"
                     [(ngModel)]="service.editUser.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <div class="validation-error" *ngIf="email.invalid && email.touched">This field is
                not correct
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!userEditForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #editQualificationLevelModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog"
     aria-labelledby="editQualificationLevelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editQualificationLevelModalLabel">Update qualification level</h5>
        <button class="close" type="button" (click)="editQualificationLevelModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #editQualificationLevelForm="ngForm" autocomplete="off">
            <div class="form-group">
              <ngx-select
                placeholder="Select qualification level"
                [allowClear]="true"
                [defaultValue]="doNgxDefault1()"
                [items]="qualificationLevelsSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="selectLevel($event)"
                (remove)="doRemove($event)"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
            </div>
            <div class="modal-footer">
              <button [disabled]="!editQualificationLevelForm.valid" type="submit" (click)="setQualificationLevel()" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteConfirmModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog"
     aria-labelledby="deleteConfirmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Delete user</h5>
        <button class="close" type="button" (click)="deleteConfirmModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirmDeleteUser(userDeletedId)">Yes</button>
        <button type="button" class="btn btn-primary" (click)="declineDeleteUser()">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #addManagerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="addManagerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addManagerModalLabel">Add manager</h5>
        <button class="close" type="button" (click)="addManagerModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #addManagerForm="ngForm" autocomplete="off"
                (ngSubmit)="onSubmit1(addManagerForm)">
            <div class="form-group">
              <ngx-select
                placeholder="Select manager"
                [allowClear]="true"
                [defaultValue]="doNgxDefault1()"
                [items]="managersSelect"
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="doSelectManager($event);setUserId(userSetId)"
                (remove)="doRemove($event)"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
            </div>
            <div class="modal-footer">
              <button [disabled]="!addManagerForm.valid" (click)="setManger()" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #feedbackModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalLabel">Feedback</h5>
        <button class="close" type="button" (click)="feedbackModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #feedbackForm="ngForm" autocomplete="off">
            <div class="form-group">
              <textarea class="form-control" type="text"  [(ngModel)]="feedback.content" name="content"></textarea>
            </div>
            <div class="modal-footer">
              <button [disabled]="!feedbackForm.valid" (click)="setFeedback();feedbackModal.hide();" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
